/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Roots */
:root {
  --clr-dark-blue: hsl(238, 29%, 16%);
  --clr-orange: hsl(14, 88%, 65%);
  --clr-violet: hsl(273, 75%, 66%);
  --clr-purple: hsl(240, 73%, 65%);
  --clr-dark-grey: hsl(237, 12%, 33%);
  --clr-grey: hsl(240, 6%, 50%);
  --clr-cream-white: hsl(240, 5%, 91%);
  --clr-white: #fff;
  --fs-p: 0.75rem;
  --fs-summary: 0.8125rem;
  --fs-h1: 2rem;
  --fw-400: 400;
  --fw-700: 700;
  --ff-body: 'Kumbh Sans', sans-serif;
}

/* Similar Parts */
*, body, main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(var(--clr-violet), var(--clr-purple));
  background-repeat: no-repeat;
  font-weight: var(--fw-400);
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  min-height: 100vh;
}

/* Main */
.box-image {
  display: none;
  transition: transform 300ms ease;
}

.box-image-translate {
  transform: translateX(-7vw);
}

/* Parent Block  */
.parent-block {
  background-color: var(--clr-white);
  border-radius: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -40%);
  width: max(300px, 60vw);
}

/* Image Block */
picture, img {
  position: absolute;
  top: -7vh;
  left: 50%;
  transform: translateX(-50%);
  width: max(200px, 10vw);
}

picture::after {
  animation: mobile-bottom-to-top 1000ms ease-in-out forwards infinite alternate;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: max(200px, 10vh);
  position: absolute;
  top: 5vh;
  width: max(200px, 10vw);
}

@keyframes mobile-bottom-to-top {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(1.05) translateY(2.5vh);
  }
}

/* Faq Block */
.sub-faq-block {
  margin: 0 auto 10vh auto;
  width: max(260px, 50vw);
}

h1 {
  color: var(--clr-dark-blue);
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  text-align: center;
  margin: 18vh 0 5vh 0;
}

details {
  transition: max-height 300ms ease;
}

details:not([open]) {
  max-height: 5vh;
}

details[open] {
  max-height: 12vh;
}

details[open] p {
  animation: sweep 400ms ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

summary {
  cursor: pointer;
  color: var(--clr-dark-grey);
  font-size: var(--fs-summary);
}

p {
  color: var(--clr-grey);
  padding: 1.5vh 0;
}

details[open] summary {
  color: var(--clr-dark-blue);
  font-weight: var(--fw-700);
}

summary::marker {
  font-size: 0;
}

summary::after {
  content: url(images/icon-arrow-down.svg);
  height: 2.5vh;
  position: absolute;
  right: 5vw;
  transition-property: transform;
  transition: ease 300ms;
  width: 2vw;
}

details[open] summary::after {
  transform: rotateX(-180deg);
}

details:hover summary {
  color: var(--clr-orange);
}

details, hr {
  margin-bottom: 1.5vh;
}

hr {
  border-style: none;
  border-top: 0.1rem solid var(--clr-cream-white);
}

/* Responsiveness Section */
@media (max-width:345px) {
  .parent-block {
    max-width: 80vw;
  }

  picture, img {
    top: -6vh;
    max-width: 53vw;
  }

  picture::after {
    max-height: 53vw;
    max-width: 53vw;
  }

  .sub-faq-block {
    margin: 0 auto 6vh auto;
    max-width: 69vw;
  }

  h1 {
    margin: 14vh 0 5vh 0;
  }

  :root {
    --fs-p: 0.68rem;
    --fs-summary: 0.7425rem;
    --fs-h1: 1.6rem;
  }
}

@media (min-width:1300px) {
  .box-image {
    display: inline-block;
    left: 19vw;
    position: absolute;
    top: 43vh;
    width: 12vw;
    z-index: 10;
  }

  .parent-block {
    display: grid;
    grid-template-areas: 'A B';
    overflow: hidden;
    transform: translate(-50%, -50%);
  }

  .image-block {
    grid-area: A;
  }

  picture, img {
    position: relative;
    top: 5vh;
    left: 0;
    transform: translateX(-4.8vw);
    width: max(200px, 30vw);
  }

  picture::after {
    background-image: url(images/bg-pattern-desktop.svg);
    height: max(200px, 100vh);
    position: absolute;
    left: -30vw;
    top: -70vh;
    width: max(200px, 100vw);
  }

  .faq-block {
    grid-area: B;
  }

  .sub-faq-block {
    margin: 0 7vw 10vh 1vw;
    width: max(260px, 22vw);
  }

  h1 {
    text-align: left;
    margin: 10vh 0 5vh 0;
  }

  summary::after {
    right: 5.8vw;
  }

  :root {
    --fs-p: 0.88rem;
    --fs-summary: 0.9425rem;
    --fs-h1: 2.4rem;
  }
}

@media (min-width:1800px) {
  .box-image {
    top: 41vh;
  }

  .sub-faq-block {
    margin: 0 5vw 10vh 1vw;
    width: max(260px, 24vw);
  }

  details:not([open]) {
    max-height: 8vh;
  }

  details[open] {
    max-height: 15vh;
  }

  summary::after {
    content: '';
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5vh;
    right: 4vw;
    transform: translateY(1vh);
    width: 1.5vw;
  }

  :root {
    --fs-p: 1.38rem;
    --fs-summary: 1.4425rem;
    --fs-h1: 2.9rem;
  }
}

@media (min-width:2300px) {
  :root {
    --fs-p: 1.78rem;
    --fs-summary: 1.8425rem;
    --fs-h1: 3.6rem;
  }
}
